body{
    font-family: 'Poppins', sans-serif;
    margin: 0% 0%;
    background-color:#fffbf9;
    color: rgb(0, 0, 0);
}

section{
    margin: 0% 5%;
}
.prg{
    margin-bottom: 60px;
}
.top-left-bannar{
    margin-top: 50px;
}
.shadow{  
    border-left: 7px solid;
    border-image: linear-gradient(rgb(221, 11, 221), rgb(26, 13, 207));
    border-image-slice: 1;
}
.half-width img{
    width: 100%;
}
.diff{
    padding-top: 20%;
}
.half-width-diff{
    width: 50%;
}

.half-width-diff img{
    width: 80%;
    border-radius: 10px;
}
h1{
    font-size: 60px;
    font-weight: bold;
}
h3{
    font-size: 50px;
    text-align: center;
    font-weight: bold;

}
h4{
    font-size: 40px;
    font-weight: bold;
}
h5{
    font-size: 30px;
    font-weight: bold;
}
.cream-color{
    color:#e98629;
}
.stay-focused{
    display: flex;
}

.half-width{
    width: 50%;
    padding: 10%;

}
button{
    text-decoration: none;
    background-color: #cc25ffde;
    padding: 5px 20px;
    color: rgb(0, 0, 0);
    font-weight:600;
    border-radius: 10px;
    display:block;
    margin-bottom: 10px;
}

.global-community{
    display: flex;
}

.develoop-without-limit{
    display: flex;
}
.my-mission-in-2022{
    display: flex;
    width: 100%;
}

.msv img{
    width: 30%;
}
.msv{
    border-radius: 20px;
    padding: 20px;
}
.mission{
    background-color: rgb(207, 238, 253);
    width: 27%;
    margin-left: 7%;
}
.vission{
    background-color: rgb(255, 243, 211);
    width: 27%;
    margin: 0% 2%;
}
.goals{
    background-color: rgb(255, 221, 210);
    width: 27%;
    margin-right: 7%;
}
footer{
    text-align: center;
    background-color: rgb(54, 52, 52);
    color: papayawhip;
}
footer p{
    padding-bottom: 10px;
}
footer h1{
    color: white;
    padding-top: 10px;
    font-family:monospace;
}
.pink-color{
    color: rgb(212, 0, 159);
}